<h1>{{title}}</h1>
<div>
    <a style="margin-right: 20px;" routerLink="/" routerLinkActive="active">home</a>        
    <a *ngFor="let link of links" style="margin-right: 20px;" routerLink={{link?.routerLink}} routerLinkActive="active">
        {{link?.name}}
    </a>
</div>
<!-- <a style="margin-right: 20px;" routerLink="/customMe/customPage" routerLinkActive="active">Custom Page Load</a>
<a style="margin-right: 20px;" routerLink="/vendor/vendorPage" routerLinkActive="active">Vendor Page Load</a> -->
<router-outlet></router-outlet>